.App {
  text-align: center;
}

body{
  background: rgb(158, 88, 228);
  font-family: sans-serif;
}
.row{
  display: flex;
  width: 80%;
  margin:0 auto;
  background: rgb(103, 236, 59);
  border-bottom:4px solid ;
}
.Newconfirmed,.TotalConfirmed,.NewDeasths{
  padding:20px;
  text-align: center;
  margin: 0 auto;
 
}
.Newconfirmed{
  color: orangered;
  
}
.TotalConfirmed{
  color: brown;

}
.NewDeasths{
  color: yellow;
}
table{
  border-collapse: separate;
  width: 80%;
  margin: 0 auto;
  border-spacing: 0 12px;
}
table thead tr{
  background: white;
}
table thead tr th{
  padding: 12px 18px;
  text-align: left;
}
table tbody tr td{
  padding: 12px;
  text-align: left;

}
table tbody tr{
  background: white;
}